.all-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    margin: 1em;
}

.navbar h3 {
    font-weight: normal;
    font-size: 2em;
    font-family: fantasy;
}

.navbar small {
    color: rgb(124, 120, 124);
    font-size: 1em;
}

.content-container {
    background-color: rgb(238, 226, 242);
    padding-top: 1em;
}

.form-container {
    background-color: rgb(252, 252, 252);
    padding: 2em;
    padding-bottom: 3em;
    display: block;
    margin-right: 25%;
    margin-left: 25%;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(116, 60, 153, 0.513);
}

.name-control{
    display:inline-block;
    max-width: 100%;
    padding-right: 65%;
    border-radius: .5em;
}

.post-control {
    /* display: flex; */
    display:inline-block;
    max-width: 100%;
    padding-right: 65%;
    border-radius: .5em;
}

.form-group {
    margin: 1em;
}

.post-container {
    display: block;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 4em;
}

.post {
    background-color: rgb(252, 252, 252);
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(116, 60, 153, 0.513);
    margin-right: 25%;
    margin-left: 25%;
    margin-top: .03em;
    padding: 1em;
    border-bottom-color: black;
    border-bottom-width: 10%;
    border-bottom-style: solid;
}

.create {
    border-radius: 5em;
    background-color: rgb(24, 103, 171);
    color: white;
    float: right;
    margin-bottom: 5em;    
}

